*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
    text-decoration: none;
}
p{
    color: white;
    text-align: left;
    font-size: 10px;
    line-height: 16px;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* hero*/
#hero{
    background-image: url(image1.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
}
#hero::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .5;
    z-index: -1;

}
#hero .container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    justify-content: flex-end;
}
#hero h1{
    display: block;
    width: fit-content;
    font-size: 4rem;
    position: relative;
    color: transparent;
    animation: text-reveal 0.5s ease-in forwards;
    
}
#hero h1:nth-child(1) {
    animation-delay: 1s;
}
#hero h1:nth-child(2){
    animation-delay: 1.5s;
}
#hero h1:nth-child(3){
    animation: text-reveal-name ease-in forwards;
    animation-delay: 2s;
}
#hero h1 span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0%;
    background-color: wheat;
    animation: text_reveal_box 1s ease-out;
    animation-delay: .3s;
}
#hero h1:nth-child(1) span{
    animation-delay: 1s;
}
#hero h1:nth-child(2) span{
    animation-delay: 1.5s;
}
#hero h1:nth-child(3) span{
    animation-delay: 2s;
}
#hero .cta{
    display: inline-block;
    padding: 8px 15px;
    color: greenyellow;
    background-color: transparent;
    border: 2px solid orange;
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-top: 20px;
    transition: .3s ease background-color;
    transition-property: background-color,color;
}
#hero .cta:hover{
    color: whitesmoke;
    background-color: orange;

}
/* end hero*/
/* services section */

#services{

}

#services .service{
    flex-direction: column;
    text-align: center;
    max-width:1500px ;
    margin: 0 auto;
    padding: 100px 0;
}
 .section-title{
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}
.section-title span{
    color: red;
}


#services .service-bottom{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: left;
}
#service .service-bottom h2{
font-size: 50px;

}
#services .container{
    background-color: aliceblue;
}
#services .service-item{
    
    flex-basis: auto;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    background-image: url(image3.jpg);
    background-size:cover ;
    /* background-color: black;
    opacity: .9; */
    color: rgb(240, 193, 107);
    margin: 10px 5px 0;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
#services .service-item::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: linear-gradient();
    opacity: .4;
    z-index: -1;

}
.fa-solid{
    position:relative;
    left: 5px;
    object-fit: relative;
}
#services .service-item h2{
    font-size: 16px;
    color: wheat;
    text-transform: uppercase;
}

#services .service-item p{
    margin-top: 5px;
    color: wheat;
    text-align: left;
    line-height: 10px;
}
#services .service-item:hover{
    animation: zoom-in-zoom-out 2s ease-out infinite;
}
@keyframes zoom-in-zoom-out {
    0% {
    transform: scale(1, 1);
    }
    50% {
    transform: scale(1.1, 1.1);
    }
    100% {
    transform: scale(1, 1);
    }
    }
#services .service-top p{

    color: black;
    text-align: left;
    line-height: 10px;
}
/* end services section */


/* project section */

#projects .projects{
    flex-direction: column;
}
/* end project section */
/*key frames*/
@keyframes text_reveal_box {
    50%{
        width: 100%;
        left: 0;
    }
    100%{
        width: 0;
        left: 100%;
    }
    
}


@keyframes text-reveal{
    100%{
        color: wheat;
    }
}

@keyframes text-reveal-name{
    100%{
        color: yellow;
        font-weight: 500px;
    }
}